services:
  mysql:
    image: docker.io/library/mariadb:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_HOST: "%"
    ports:
      - 3306:3306
  adminer:
    image: docker.io/library/adminer:latest
    restart: always
    ports:
      - 8080:8080
